<html>
   <head>
      <title>Rock, Paper, Scissors</title>
      <link rel="stylesheet" type="text/css" href="/style.css/" />
   </head>

   <body>
      <%= yield %>
      <form name="input" action="html_form_action.asp" method="get">
         Your play: <input type="text" name="play"/>
         <input type="submit" value="Let's play!"/>
      </form>
   </body>
</html>
