<html>
   <head>
      <title>Rock, Paper, Scissors</title>
      <link rel="stylesheet" type="text/css" href="/style.css/" />
   </head>

   <body>
<<<<<<< HEAD
      <center><h1> Rock, Paper, Scissors </h1></center>
      <%= yield =%>
=======
      <%= yield %>
      <form name="input" action="html_form_action.asp" method="get">
         Your play: <input type="text" name="play"/>
         <input type="submit" value="Let's play!"/>
      </form>
>>>>>>> a4d01e931d5cd14ec06d93a0b49e15ea9bc61fd0
   </body>
</html>
